<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>Test page</title>
    <link rel="stylesheet" href="styles.css">
</head>

    <div class="map-container">
<!--        Something like this. Chop the image up into bits of the appropriate size.-->
        <img src="000.002.png" alt="cell-000.002" style="width: 900px; height:1200px"/>
        <svg class="link-overlay cutout-overlay" viewBox="0 0 325 340" xmlns="http://www.w3.org/2000/svg">
            <!-- A link around a shape -->
            <a href="#page-000.0003">
                <rect class="adjacent-cell-link" x="75" y="25" width="100" height="100" rx="0"  />
            </a>
        </svg>
    </div>

</html>