<div class="cell-page" id="{{COORDINATE}}">
    <div class="page-header">
        <h1 class="header-title">
            {{PAGE_TITLE}}
        </h1>
        <h4 class="header-description">
            {{PAGE_DESCRIPTION}}
        </h4>
        <div class="header-separator"></div>
    </div>
    <div class="page-contents">
        <div class="left-column column">
            [[LEFT_COLUMN]]
            <div class="filler-woods"></div>
        </div>
        <div class="column">
            <div class="map-container">
                <img class= "zoomed-in-map" src="{{MAP_IMAGE}}" alt="{{COORDINATE}} Map Cutout"/>
                [[SVG_POLYGON_LINKS]]
            </div>
            [[RIGHT_COLUMN]]
            <div class="filler-hexagons"></div>
        </div>
    </div>
</div>
