<div class="extra-cell-page" id="extra-{{COORDINATE}}-{{EXTRA-PAGE-NUMBER}}">
    <div class="page-header">
        <h1 class="header-title">
            {{COORDINATE}}
        </h1>
        <h4 class="header-description">
            {{DESCRIPTION}}
        </h4>
        <div class="header-separator"></div>
    </div>
    <div class="page-contents">
        <div class="left-column column">
            {{LEFT_COLUMN}}
            <div class="filler-woods"></div>
        </div>
        <div class="column">
            {{RIGHT_COLUMN}}
            <div class="filler-hexagons"></div>
        </div>
    </div>
</div>
